<tr>
    <td class='col-md-4'><%= pin.description %></td>
    <td class='col-md-4'><%= pin.user.name %></td>
    <td class='col-md-2'><%= link_to 'Show', pin %></td>
    <% if current_user == pin.user %>
      <td class='col-md-2'><%= link_to 'Edit', edit_pin_path(pin) %></td>
      <td class='col-md-2'><%= link_to 'Delete', pin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% else %>
      <td class='col-md-2'></td>
      <td class='col-md-2'></td>
    <% end %>
</tr>