<h2>Sign in</h2>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: {:class => 'form-horizontal'}) do |f| %>
  <%= f.error_notification %>

  <%= f.input :email, :class => 'col-sm-3' %>

  <%= f.input :password, autocomplete: "off" %>

  <%= f.input :remember_me, :as => 'boolean' %>

  <%= f.submit "Sign in", :class => 'btn btn-primary' %>
<% end %></div>

<%= render "devise/shared/links" %>
